# Python bytecode
__pycache__/
*.py[codz]
*$py.class

# Database local (Sua pasta de dados e arquivos SQLite)
data/
*.db
*.sqlite
*.sqlite3

# Environments / Ambientes Virtuais
.env
.venv
venv/
ENV/

# IDEs e Editores
.vscode/
.idea/
.cursorignore
.cursorindexingignore

# OS / Outros
.DS_Store
Thumbs.db